<div class="container">
    <footer>
        <p>copyright <span>&#169</span> Angela Rus 2021</p>
        <p><a href="mailto:mind.edifice@gmail.com">mind.edifice@gmail.com</a></p>
    </footer>
</div>

<script src="/javascript/themeScript.js"></script>