<div class="nav">
    <div class="mode">
        <div class="light-btn"><div>&#9788;</div></div>
        <div class="dark-btn"><div>&#9789;</div></div>
    </div>
    
    <form action="/search" method="GET" class="search-form">
        <input type="text" name="value" id="value" placeholder="Search...">
        <button type="submit" class="submit">Search</button>
        <button type="submit" class="submitIcon">&#x1F50D;</button>
    </form>
    
    
    <div class="links">
        <a href="/" class="link">Home</a>
        <a href="/about" class="link">About</a>
        <a href="/quotes" class="link">Quotes</a>
        <a href="/archetypes" class="link">Archetypes</a>
        <a href="/symbols" class="link">Symbols</a>
    </div>
    <div class="navicon" onClick="toggleNavList()">&#9776;</div>
</div>
