<div class="nav">
    <div class="mode">
        <div class="light-btn"><div>&#9788;</div></div>
        <div class="dark-btn"><div>&#9789;</div></div>
    </div>

    <input type="text" id="search" placeholder="Search...">
    
    <div class="links">
        <a href="/about" class="link">About</a>
        <a href="/quotes" class="link">Quotes</a>
        <a href="/symbols" class="link">Symbols</a>
    </div> 
</div>