<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head.ejs') %>
<body>
    <div class="container">
        <!-- navbar -->
        <%- include('./partials/nav.ejs') %>
        <div class="part">
            <img src="./images/quadrated-circle.jpg" alt="mandala painting by Jung" class="mandala">
            <section>
                <h1>Stuff</h1>
                <p>Lorem Ipsum</p>
                <p>Lorem Ipsum</p>
                <p>Lorem Ipsum</p>
            </section>
        </div>
    </div>
</body>
</html>