<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head.ejs') %>
<body>
    <div class="container">
        <!-- navbar -->
        <%- include('./partials/nav.ejs') %>
        <div class="part">
            <section class="text">
                <h1>The App</h1>
                <p>
                    The main purpose of this application is to collect refrences on various
                    symbols. For those who study symbolic meaning, being able to search
                    words in order to find the collective or archetypal meaning of that word
                    is very useful.
                </p>
                <h3>About Symbols</h3>
                <p>
                    If you have never heard of Carl Jung or symbolic interpretation,
                    think of it this way. Humans make spontaneous associations. If you
                    think of fire, for instance, you likely associate fire with danger,
                    cooking, but also more distant and metaphorical notions, such as 
                    passion. This sort of associations happen across cultures, and the 
                    meaning attributed to such words tends to overlap. So if we, westerners,
                    connect fire with passion, it's very likely that other cultures do as well.
                </p>
                <p>
                    Why is this relevant? Because this association based or metaphorical
                    thinking comes from parts of our mind which are very little explored.
                    They come from the unconscious, a term coined by Jung, and which 
                    refers to parts of our psyche that are usually hidden and express 
                    themselves in dreams, metaphors, creative thinking, etc. The unconscious
                    can be personal (my own personal associations), or collective, as in 
                    the probably universal association of fire with passion, or of sun with
                    life.
                </p>
                <p>
                    By exploring the unconscious in various ways, we learn more about
                    ourselves, about our psychological disturbances. Through this self-knowledge,
                    we develop and become better selves.
                </p>
                <b><p>
                    Picture: The painting on the right is realized by Carl Jung. In it, you
                    can see a mandala or circle split in 4. The mandala is a symbol of wholeness,
                    while the quaternity represents the union of the 4 parts into a whole.
                </p></b>
            </section>
            <img src="./images/quadrated-circle.jpg" alt="mandala painting by Jung" class="mandala">
        </div>
    </div>
</body>
</html>