<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head.ejs') %>
<body>
    <div class="container">
        <!-- navbar -->
        <%- include('./partials/nav.ejs') %>

        <div class="part">
            <div class="text">
                <h1>Archetypes and Mythical Figures</h1>
            </div>
            
            <div class="symbols">
                <img src="./images/mandala2.jpg" alt="" class="smallMandala">
                <h3>Archetypes :</h3>
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>