<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head.ejs') %>
<body>
    <div class="container">
        <!-- navbar -->
        <%- include('./partials/nav.ejs') %>

        <div class="part">
            <div class="text">
                <h1>Create Symbol</h1>
                <p>Please write the text part between quotes.</p>
                <form action="/" method="POST">
                    <label for="symbol">Symbol: </label><br>
                    <input type="text" id="symbol" name="symbol"><br>
                    <label for="text">Text: </label><br>
                    <textarea id="text" name="text">""</textarea><br>
                    <label for="author">Author: </label><br>
                    <input type="text" id="author" name="author"><br>
                    <label for="source">Book/Source: </label><br>
                    <input type="text" id="source" name="source"><br>
                    <button>Submit</button>
                </form>
            </div>
            
            <%- include('./partials/symbolsNav.ejs') %>
        </div>        
        
    </div>
</body>
</html>