<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head.ejs') %>
<body>
    <div class="container h">
        <!-- navbar -->
        <%- include('./partials/nav.ejs') %>
        
        <div class="home">
            <h1>Depth Psychology Archives</h1>
            <% if (1) { %> 
                <h3>Admin Log In</h3>
                <form action="/about">
                    <input type="text" class="log" placeholder="username"><br>
                    <input type="password" class="log" placeholder="password"><br>
                    <button class="btn">Submit</button>
                </form>
                <p>or</p>
                <button class="visitor">Continue as visitor</button>
            <% } else { %>
                <h3>Welcome!</h3>
                <button class="btn">Log Out</button>
            <% } %>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>  
</body>
</html>
