<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head.ejs') %>
<body>
    <div class="container">
        <!-- navbar -->
        <%- include('./partials/nav.ejs') %>

        <div class="part">
            <div class="text">
                <h1>Quotes</h1>
                <p>"Our personality develops in the course of our life from germs
                    that are hard or impossible to discern, and it is only our deeds
                    that reveal who we are. We are like the sun, which nourishes
                    the life of the earth and brings forth every kind of strange,
                    wonderful, and evil thing; we are like the mothers who bear in
                    their wombs untold happiness and suffering. At first we do not
                    know what deeds or misdeeds, what destiny, what good and evil
                    we have in us, and only the autumn can show what the spring
                    has engendered, only in the evening will it be seen what the
                    morning began."</p>
                <p><b>Carl Jung</b>, the Development of Personality, para.290</p>
                <p>
                    Personality, as the complete realization of our whole being,
                    is an unattainable ideal. But unattainability is no argument
                    against the ideal, for ideals are only signposts, never the goal.
                </p>
                <p><b>Carl Jung</b>, the Development of Personality, para.291</p>
            </div>
            
            <div class="symbols">
                <img src="./images/mandala1.jpg" alt="" class="smallMandala">
                <h3>Authors :</h3>
                <ul>
                    <li>Carl Jung</li>
                    <li>Marie-Louise von Franz</li>
                </ul>
            </div>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>  
</body>
</html>