<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head.ejs') %>
<body>
    <div class="container">
        <!-- navbar -->
        <%- include('./partials/nav.ejs') %>

        <h1>Symbols</h1>
    </div>
</body>
</html>