<div class="symbols">
    <img src="/images/mandala2.jpg" alt="" class="smallMandala">
    <a href="/archetype/create" class="add-btn">Add Archetype</a>
    <h3>Archetypes :</h3>
    <div class="list">
        <ul>
            <% archetypes.forEach(archetype => { %>
                <li>
                    <a href="/archetypes/<%= archetype %>"><%= archetype %></a>
                </li>
            <% }) %>
        </ul>
    </div>
</div>