@media (max-width: 520px) {
    .submit {
        display: none;
    }

    .submitIcon {
        display:inline-block;
    }

    input#value {
        width: 190px;
    }

    .mandala {
        max-width: 520px;
        height: auto;
    }
}

@media (max-width: 800px) {
    .part {
        flex-direction: column;
    }

    .container {
        width: 100%;
    }

    .home {
        padding: 10px;
    }

    .text, .text.about {
        order: 2;
        padding: 10px;
    }

    .symbols {
        order: 1;
    }

    .symbols, .add-btn, .smallMandala {
        width: 100%;
    }

    .list {
        max-height: 200px;
        overflow-y: scroll;
    }
}

@media (max-width: 1250px) {
    .container {
        position: relative;
    }

    .search-form {
        z-index: 1;
    }

    .links {
        position: absolute;
        top: 30px;
        right: 20px;
        border: 2px rgba(248, 248, 248, 0.26) solid;
        background-color: inherit;
        width: 150px;
    }

    .links a:not(:first-child) {
        display: none;
    }

    .links.responsive a {
        display: block;
    }
    
    .links.responsive {
        padding-bottom: 10px;
    }

    .links a{
        float: none;
        display: block;
        text-align: right;
        padding: 5px 0px;
    }

    .navicon {
        display: block;
    }

    .part.about {
        flex-direction: column;
        height: auto;
    }

    .mandala {
        width: 100%;
        height: auto;
    }
}