* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    position: relative;
    margin: 0;
    letter-spacing: 0.5px;
}

footer {
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 1400px;
    width: 90%;
    margin: auto;
}

h1 {
    letter-spacing: 2px;
}

h2 {
    letter-spacing: 1px;
}

.nav {
    font-size: 20px;
    letter-spacing: 1px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.links {
    margin-left: auto;
}

.link {
    padding: 20px 25px;
    text-decoration: none;
    float: right;
    margin-right: 10px;
}

/* Theme buttons */
.mode {
    display: flex;
    margin: 20px;
    cursor: pointer;
    font-size: 18px;
}

.light-btn, .dark-btn {
    width: 22.5px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.light-btn {
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;
    font-weight: bold;
}

.dark-btn {
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
}

/* Search input */
#value {
    padding: 10px;
    font-family: inherit;
    letter-spacing: 0.5px;
    font-size: 16px;
    border-style: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#value:focus {
    outline: none;
}

/* submit search btn */
.submit {
    font-size: 16px;
    border-style: none;
    font-family: inherit;
    cursor: pointer;
    letter-spacing: 0.5px;
    padding: 0px 15px;
}

.submit:focus {
    outline: none;
}

.submit:active {
    transform: scale(0.98)
}

/* search form */
.search-form, .part {
    display: flex;
}

/* About section */
.mandala {
    margin-left: auto;
    height: 100vh;
}

/* Symbols */
.symbols {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: auto;
}

.symbols h3 {
    margin-left: 20px;
    margin-bottom: 0px;
}

.smallMandala {
    width: 300px;
}

.symbols li {
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.text {
    margin: 50px;
}

/* Add btn */
.add-btn {
    font-size: 18px;
    font-family: inherit;
    padding: 10px;
    text-decoration: none;
    width: 300px;
    text-align: center;
    border-width: 3px 0px;
    border-style: solid;
    letter-spacing: 1px;
}

/* Home */
.container.h {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home {
    margin: 50px;
}

.btn, .visitor {
    border-style: none;
    font-family: inherit;
    font-size: 17px;
    letter-spacing: 1px;
    cursor: pointer;
}

.btn {
    padding: 10px 15px;
    border-radius: 4px;
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(0.98);
}

.visitor {
    padding: 15px 20px;
    border-radius: 5px;
}

.log {
    font-family: inherit;
    padding: 7px 10px;
    font-size: 17px;
    margin-bottom: 10px;
}

/* Create symbol page */
.input {
    padding: 7px;
    width: 250px;
}

.input.source {
    padding: 7px;
    width: 350px;
}

textarea {
    width: 350px;
    height: 200px;
}

.input, textarea {
    margin: 5px 0px 10px 0px;
    border-radius: 4px;
}

a {
    text-decoration: none;
    color: inherit;
}

.group {
    margin-bottom: 40px;
}
