:root {
    --back-color: rgb(41, 55, 66); 
    --text-color: rgb(212, 212, 212);
    --nav-back: rgba(23, 97, 99, 0.493);
    --blugray: rgb(134, 157, 161);
    --coral: rgb(108, 177, 255);
    --highlight: white;
}

body {
    background-color: var(--back-color);
    color: var(--text-color);
}

footer {
    background-color: var(--nav-back);
    color: var(--text-color);
}

.nav {
    background-color: var(--nav-back);
}

.link {
    color: var(--text-color);
}

.link:hover, .symbols li:hover, .add-btn:hover {
    color: var(--highlight);
}

.part {
    border-left: 2px var(--nav-back) solid;
}

.symbols {
    background-color: var(--nav-back);
    border-bottom: 3px solid var(--text-color);
}

/* buttons */
.submit, .dark-btn, .visitor, .btn {
    background-color: var(--blugray);
    color: var(--highlight);
}

.log, .input, textarea {
    border-style: none;
}

.log:focus, .input:focus, textarea:focus {
    outline-color: var(--blugray);
}

.light-btn {
    background-color: var(--coral);
    color: var(--highlight);
}

#value, .log, .input, textarea {
    background-color: var(--coral);
    color: var(--back-color);
}

::placeholder {
    color: var(--back-color);
}

h1, h2 {
    color: var(--coral);
    font-weight: lighter;
}

.add-btn {
    color: var(--text-color);
    border-color: var(--text-color);
}

small {
    color: var(--coral);
}
