<div class="symbols">
    <img src="/images/mandala1.jpg" alt="" class="smallMandala">
    <a href="#" class="add-btn">Add Quote</a>
    <h3>Authors :</h3>
    <div class="list">
        <ul>
            <% quotes.forEach(quote => { %>
                <li>
                    <a href="#"><%= quote.author %></a>
                </li>
            <% }) %>
        </ul>
    </div>
</div>